.daily-videos-wrapper {

	padding: 20px 0;
	background-color: $bg-sec-color;

	p { font-size: 1.2em; }

	figure {

		width: 100%;
		position: relative;


		a {
			position: relative;

			:nth-child(2) {
				display: none;
				width: 35px;
				margin-left: -17px;
				height: 40px;
				margin-top: -20px;
				font-size: 40px;
				color: #ffff;
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}

		a:hover {
			:nth-child(2) {
				display: block;
			}
		}

		img { 
			width: 100%;
			height: 80%;
			object-fit: cover;
			/* object-position: -50% 0; */
		}
	}
}

#video-modal {

	.modal-body {
		position: relative;

		.video-loader {
			width: 200px;
			margin-left: -100px;
			height: 90px;
			margin-top: -45px;
			position: relative;
			top: 50%;
			left: 50%;
			text-align: center;
			/* z-index: -1; */
		}

		.video-box {
			position: relative;
			width: 765px;
			height: 430px;
			top: -45px;
		}
	}
}