.location-weather-wrapper {

	background-position: top center;
	background-repeat: no-repeat;
	min-height: 400px;

	.container {
		background-color: rgba(0, 0, 0, 0.6);
		color: $light-color;

		.current-location {

			h3 { font-size: 2em; font-weight: bold; }

			p {
				font-size: 1.5em;
				small { font-size: .5em; }
			}

			.current-conditions { font-size: 2.5em; }

			.current-conditions-ico { font-size: 2em; }

			.current-date { font-size: 1.5em; }

			.current-date {
				margin: 0 0 60px 0;
				text-align: right;
				line-height: 1.5em;
			}

			div {
				width: 50%;
				float: left;
			}

			div:nth-child(1) { padding: 10px; width: 65%; height: 180px; }
			div:nth-child(2) { padding: 10px; width: 35%; height: 180px; }
			div:nth-child(3) { padding: 10px; width: 40%; min-height: 110px;}
			div:nth-child(4) {
				padding: 10px;
				width: 60%; 
				min-height: 110px;
				text-align: right;
				.current-conditions { font-size: 2em; }
			}
		}

		.forecast-location { padding: 0; }

		.forecast-location > div {
			display: inline-block;
			padding-top: 20px;
			background-color: rgba(0, 0, 0, 0.5);
			font-size: 1.5em;
			width: 20%;

			div {
				margin-top: 15px;
				padding: 0 29px;
				text-align: center;
			}

			:first-child { font-weight: bold; }

			:nth-child(2) { font-size: 2em; }
			:nth-child(3) { font-weight: bold; }

			:nth-child(5) {
				background-color: rgba(0, 253, 13, 0.3);
				font-size: .7em;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}

		@media screen and (min-width: 576px) {
			.current-location {
				h3 { font-size: 3.5em; }

				p {
					font-size: 2em;
					small { font-size: .5em; }
				}

				.current-conditions { font-size: 4em; }

				.current-conditions-ico { font-size: 3em; }

				.current-date { font-size: 2em; }

				div:nth-child(4) {
					.current-conditions { font-size: 3em; }
				}
			}
		}
	}
}