.search-box-wrapper {

	padding: 10px 0;
	background-color: $bg-sec-color;
	border-bottom: 1px solid #ccc;

	p { margin: 0; }

	form {
		height: 52px;

		a {
			border: 1px solid #ccc;
			border-left: none;
			font-size: 16px;
			padding: 15px 10px 15px 5px;
			position: absolute;
			top: 0;
			right: 0;
			width: 10%;
			text-align: center;
		}

		input {
			background: none;
			border-right: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			
			box-shadow: none;
			border: 1px solid #ccc;
			border-right: none;
			font-size: 16px;
			padding: 15px 0 15px 20px;
			font-style: italic;
			color: #555555;
		}
	}

	.container > .row > div { margin: 30px 0; }

	.btn-location-add {
		width: 52px;
		height: 52px;
		float: left;
		background-color: $trd-color;
		border-radius: 500px;
		margin-right: 18px;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		color: #fff;
		line-height: 50px;
	}

	.btn-location-add:hover {
		background-color: $sec-color;
		color: #000;
	}

	.location-box {
		margin-left: 70px;

		:first-child {
			font-size: 30px;
			line-height: 30px;

		}

		:nth-child(2) {
			font-size: 1.2em;
			line-height: 20px;
			color: #666;
			margin-top: 5px;
		}
	}

	@media screen and (max-width: 575px) {
		form {
			margin: 0 15px;
			a { display: none; }
			input { 
				position: relative;
				border-right: 1px solid #ccc;
				padding-right: 20px;
			 }
		}
	}
}

.pac-container {	
	font-family: $font-family;
}

.pac-logo:after {
	display: none !important;
	background-image: none !important;
}

.hdpi.pac-logo:after {
	display: none !important;
	background-image: none !important;
}

.pac-item {
	cursor: default;
	padding: 5px;
	font-size: .8rem !important;
	color: #999
}

.pac-item-query {
	font-size: .9rem;
	padding-right: 3px;
	color: $prime-color;
}

.pac-icon {
	display: none !important;
	background-image: none !important;
}