.weather-map-wrapper {

	/* .weather-map-wrapper { width: 100%; height: 800px; } */
	#googleMap { 
		width: 100%; 
		height: 700px; 
	}

	.popup-box {
		p { margin: 0; }
		span { font-weight: bold; }
	}
}