#Header Set Access-Control-Allow-Credentials: true
#Header Set Access-Control-Allow-Origin *
#Header Set Access-Control-Allow-Methods POST, GET, OPTIONS, DELETE, PUT
#Header Set Allow: POST, GET, OPTIONS, DELETE, PUT

RewriteEngine on
RewriteCond %{HTTP_HOST} ^api.dopierala.net.pl$ [NC,OR]
RewriteCond %{REQUEST_URI} !folder/
RewriteRule (.*) /public/$1 [L]

php_flag display_startup_errors On
php_flag display_errors On
php_flag html_errors On