<?php

$finder = PhpCsFixer\Finder::create()
	->in(__DIR__)
	->notPath('vendor')
	->notPath('var')
	->notPath('bin')
	->name('*.php')
	->ignoreDotFiles(true)
	->ignoreVCS(true)
;

return PhpCsFixer\Config::create()
	->setRules([
		'@PSR2' => true,
	])
	->setUsingCache(false)
	->setIndent("\t")
	->setFinder($finder)
;